.homepage {
  max-width: 800px;
  margin: auto;
}

.weather-today {
  display: flex;
  font-size: 2em;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 0 30px;
}

.city {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px 30px;
  margin-top: 3em;
}

.city-name {
  font-size: 2em;
  margin: 0;
}

.weather-today-description {
  margin: 0;
  margin-top: -20px;
  font-size: 0.6em;
}

.unit-option {
  height: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 28px;
}

.city-select {
  padding: 0 7px;
}
